@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  /* !typography */
  --font-xsmall: 0.75em;
  --font-small: 1em;
  --font-medium: 1.333em;
  --font-large: 1.777em;
  --font-xlarge: 2.369em;
  --font-xxlarge: 3.157em;
  --font-xxxlarge: 4.209em;
  --font-largest: 6em;
  --color-black: #171717;
  --color-white: #ffffff;
  --color-blue: #000cb2;

  /* !card-width */
  --main-card-width: 7.4%;
  --font-family_primary: "Poppins", sans-serif;
  --font-family_secondary: "clash_grotesk", sans-serif;
}
body {
  margin: 0%;
  font-family: var(--font-family_primary);
  /* background-image: url(images/hero_final.jpg); */

  background-position: center;
  width: 100%;

  height: 100%;
  color: aliceblue;
  background-position: top;
}
a {
  text-decoration: none;
}

header {
  display: flex;
  color: aliceblue;
  position: fixed;
  width: 98%;
  height: 3vh;
  margin-right: 1%;
  margin-left: 1%;
  margin-top: 6%;
  /* margin-bottom: 5%; */
  justify-content: space-between;
  /* height: 7vh; */
  align-items: center;
  letter-spacing: 1px;
  z-index: 10;
}
.text_blue {
  color: var(--color-blue);
}
.header_menu {
  font-weight: 300;
  font-size: 10vw;
}
.header_logo {
  font-weight: 400;
  font-size: 5vw;
}
/*? SECTION HERO  */
/*? SECTION HERO  */
/*? SECTION HERO  */

.hero {
  background-image: url(images/hero_4.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  padding-left: 1%;
  padding-right: 1%;
  background-size: cover;
  /* background-size: contain; */
  position: relative;
  overflow: hidden;

  /* width: 100vw; */
}
.hero:after {
  /* content is required when using :after */
  content: "";
  /* The grainy image */
  background-image: url("images/grain_b.jpg");
  /* Specify a height and width above and beyond the page header for movement */
  animation: grain 4s steps(10) infinite;
  content: "";
  position: fixed;
  height: 300%;
  width: 300%;
  top: -120%;
  left: -50%;
  opacity: 0.2;
  z-index: 1;
  overflow: hidden;
}

.aka {
  font-weight: 300;
  font-style: italic;
  margin-top: 0;
  text-align: right;
  position: relative;
  margin-right: 1%;
  z-index: 2;
}
#wrapper_more {
  height: 50px;
  display: flex;
  margin-left: 45%;
  /* justify-content: center; */
  position: absolute;
  bottom: 5vh;
  z-index: 2;
  width: 100%;
}
.hero_more {
  position: relative;
  margin-top: 3%;
  font-weight: 200;
  font-size: 3vw;
  z-index: 2;
}

h1 {
  position: relative;
  font-family: "Poppins";
  font-size: 15.7vw;
  /* margin-right: 1%;
  margin-left: 1%; */
  margin-bottom: 0%;
  margin-top: 10vh;
  text-align: left;
  font-weight: 700;
  right: 0%;
  z-index: 5;
}
h2 {
  font-family: "Poppins";
  /* margin-left: 1%; */
  margin-top: 0px;
  margin-bottom: 0%;
  padding-top: 6rem;
  font-size: 8vw;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 1px;
  display: block;
  position: relative;
  left: 0px;
  z-index: 2;
}

#h1_2 {
  margin-top: -13%;
}
#h1_3 {
  margin-top: -8%;
}

/*? SECTION LATEST WORKS */
/*? SECTION LATEST WORKS */
/*? SECTION LATEST WORKS */
.latest_work {
  padding-left: 1%;
  padding-right: 1%;
  color: var(--color-black);
}
#work_1 {
  background-image: url(images/work_a_1.jpg);
}
#work_2 {
  background-image: url(images/work_a_2.jpg);
}
.work_image {
  background-size: cover;
  background-repeat: no-repeat;
  height: 35vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 5;
}
.work_image:after {
  content: "";
  background-image: url("images/grain.jpg");
  animation: grain 4s steps(10) infinite;
  content: "";
  position: absolute;
  height: 300%;
  width: 300%;
  top: -120%;
  left: -50%;
  opacity: 0.4;
  z-index: 5;
}

h3 {
  font-size: var(--font-xlarge);
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 1px;
  position: relative;
  z-index: 2;
  margin-top: 4%;
  margin-bottom: 0%;
}
.latest_work h2 {
  font-size: 12vw;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 1px;
  position: relative;
  z-index: 2;
  margin-top: 0%;
  padding-top: 10%;
  margin-bottom: 5%;
  color: black;
}
.hashtags {
  margin: 0%;
  margin-top: -1%;
  z-index: 5;
  position: relative;
  font-weight: 200;
  font-style: italic;
  font-size: var(--font-xsmall);
}
p {
  z-index: 5;
  position: relative;
  font-size: var(--font-small);
  line-height: 1.8;
  font-weight: 400;
}
.latest_see_more {
  display: flex;
  font-weight: 500;
  margin-top: 0;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  position: relative;
  z-index: 2;
  color: var(--color-blue);
}
.arrow_button {
  height: 20px;
}
#black_background {
  background-color: #1f1f1f;
}
.white_font {
  color: var(--color-white);
  padding-top: 50px;
}

/*? SECTION BUTTONS */
/*? SECTION BUTTONS */
/*? SECTION BUTTONS */

#butt_1 {
  background-image: url(images/work_b_1.jpg);
}
#butt_2 {
  background-image: url(images/work_b_2.jpg);
}
.button_image {
  background-size: cover;
  background-repeat: no-repeat;
  width: 84%;
  height: 30vh;
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding-left: 8%;
  padding-right: 8%;
  color: var(--color-white);
}
.button_image:after {
  content: "";
  background-image: url("images/grain.jpg");
  animation: grain 4s steps(10) infinite;
  content: "";
  position: absolute;
  height: 300%;
  width: 300%;
  top: -120%;
  left: -50%;
  opacity: 0.4;
  z-index: 2;
}
.button_flex {
  display: flex;
  font-weight: 500;
  margin-top: 0;
  justify-content: space-between;
  width: 84%;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 0;
  z-index: 5;
}
.button_flex p {
  font-size: var(--font-large);
}
.button_flex .arrow_button {
  height: 30px;
}
.button_image h3 {
  margin-top: 6%;
  font-size: var(--font-xlarge);
  z-index: 5;
}

.anim_up_down {
  animation: anim_up_down 2s infinite ease-in-out, show_up 1.5s linear;
}

@keyframes anim_up_down {
  0% {
    /* top: 1%; */
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
.anim_work_left {
  animation: anim_work_left 3s infinite linear;
}

@keyframes anim_work_left {
  0% {
    margin-top: 4vh;
    margin-left: 4%;
  }
  25% {
    margin-top: 3vh;
    margin-left: 5%;
  }
  50% {
    margin-top: 2vh;
    margin-left: 4%;
  }
  75% {
    margin-top: 3vh;
    margin-left: 3%;
  }
  100% {
    margin-top: 4vh;
    margin-left: 4%;
  }
}

.anim_work_right {
  animation: anim_work_right 2.8s infinite linear;
}

@keyframes anim_work_right {
  0% {
    margin-top: 4vh;
    margin-right: 4%;
  }
  25% {
    margin-top: 3vh;
    margin-right: 5%;
  }
  50% {
    margin-top: 2vh;
    margin-right: 4%;
  }
  75% {
    margin-top: 3vh;
    margin-right: 3%;
  }
  100% {
    margin-top: 4vh;
    margin-right: 4%;
  }
}
.animation_h1 {
  animation: show_up 1s linear, pop_left-right 0.9s linear,
    glow_logo 1.5s infinite;
  z-index: 9;
}
.animation_h2 {
  animation: show_up 1s linear, pop_right-left 0.7s linear;
}

@keyframes show_up {
  0% {
    display: none;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes pop_left-right {
  0% {
    margin-left: -200%;
    /* display: block; */
  }

  100% {
  }
}

@keyframes pop_right-left {
  0% {
    left: 300px;
  }

  100% {
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
}
.glow_logo {
  animation: glow_logo 1.5s infinite;
}

@keyframes glow_logo {
  0% {
    text-shadow: 0 0 2px rgb(255, 206, 206);
  }
  50% {
    text-shadow: 0 0 3px rgb(255, 206, 206);
  }

  100% {
    text-shadow: 0 0 2px rgb(255, 206, 206);
  }
}
@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}

/* ? MEDIA QUERIES */

@media only screen and (min-width: 400px) {
  /* .hero {
    height: 90vh;
  } */
}

/* TESTS */

/* assing class so it becomes balck and white */
.blackWhite {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
